body{
background-color :#ADADAD;
}

#esenegal , .esenegal {
        font-family: 'Tangerine', serif;

 }
#login {
    float: none;
    margin: 0 auto;
 }
#login-submit{
	float : right;
	margin-top : 20px;
}
.titreform{
	    text-align: center;
	    font-size: 48px;
    color :#3715BF;
}




