body{
background-color :#ADADAD;
}

#esenegal {
        font-family: 'Tangerine', serif;
        font-size: 48px;
    color :#3715BF;
    text-align: center;
 }
#login {
    float: none;
    margin: 0 auto;
 }
#login-submit{
	float : right;
	margin-top : 20px;
}




